<a href="https://colab.research.google.com/github/Miguelbuga/proyecto_combinatoria/blob/main/JsonVardi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [75]:
data = pd.read_excel('/content/Tipos de Servicio 2024 Activos.xlsx', sheet_name = 'Service_account')

In [13]:
data

,number,id,service_name,AB,AC,AL,AM,AS,CT,EN,GA,IN,TE,TF,TV
0,12447,cri7bb0o8xisdtg8a2hnq3,AGUA,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12454,cri7bazo8vosdtg30jvw2xx,AGUA,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12520,cri7bb0o8wmsdtglynspqas,AGUA,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12688,cri7bazo8vcsdtg49jx29ol,AGUA,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,13470,cs87a449tjyhptgjaxxc1jk,TELEFONIA MOVIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,23788455841,cs6t8mdn41y74tglu54vdc6,TELEFONIA MOVIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
273,24015442851,cs9vtcv948rwjtgqkmfsvsc,TELEFONIA FIJA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
274,24032241891,cs87a2u9thshmtgcoptouce,TELEFONIA MOVIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
275,24034080001,cs87a2i9th6hntg9s1hjl9d,TELEFONIA MOVIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
276,24239451211,cs87a259tgkhotgvnwubyag,TELEFONIA MOVIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN

In [76]:
id = []
json_data = []
for indice, fila in data.iterrows():
  opcional = False
  service = {
      'id': fila['id'],
      'number': fila['number'],
      'service_name': fila['service_name'],
      'services' : {}
  }

  if fila['AB'] == 1:
    service['services']['AB'] = {"AB":True}
    opcional = True

  if fila['AC'] == 1:
    service['services']['AC'] = {"AC":True}
    opcional = True

  if fila['AM'] == 1:
    service['services']['AC'] = {"AM":True}
    opcional = True

  if fila['AS'] == 1:
    service['services']['AS'] =  {"AS": True}
    opcional = True

  if fila['CT'] == 1:
    service['services']['CT'] =  {"CT": True}
    opcional = True

  if fila['EN'] == 1:
    service['services']['EN'] =  {"EN": True}
    opcional = True

  if fila['GA'] == 1:
    service['services']['GA'] =  {"GA": True}
    opcional = True

  if fila['IN'] == 1:
    service['services']['IN'] =  {"IN": True}
    opcional = True

  if fila['TE'] == 1:
    service['services']['TE'] =  {"TE": True}
    opcional = True

  if fila['TF'] == 1:
    service['services']['TF'] =  {"TF": True}
    opcional = True

  if fila['TV'] == 1:
    service['services']['TV'] =  {"TV": True}
    opcional = True

  if fila['IN'] == 1 and fila['TE'] == 1 :
    if fila['service_name']  == 'INTERNET':
        service['services']['IN'] = {"IN": True, "cdServic": True}
        service['services']['TE'] = {"TE": True}
    if fila['service_name']  == 'TELEFONIA MOVIL':
        service['services']['TE'] = {"TE": True, "cdServic": True}
        service['services']['IN'] = {"IN" :True}
    opcional = True

  if fila['TE'] == 1 and fila['TV'] == 1 :
    if fila['service_name']  == 'TELEVISION':
        service['services']['TV'] = {"TV": True, "cdServic": True}
        service['services']['TE'] = {"TE": True}
    if fila['service_name']  == 'TELEFONIA MOVIL':
        service['services']['TE'] = {"TE": True, "cdServic": True}
        service['services']['TV'] = {"TV" :True}
    opcional = True


  if opcional:
    json_data.append(service)

structure = {
        'id' : id,
        'info_account':json_data
}

In [78]:
for i in range(len(structure.get('info_account'))):
  if structure.get('info_account')[i]['number']==111132700:
    print(structure.get('info_account')[i]['service_name'])
    print(structure.get('info_account')[i]['services'])

AGUA
{'AC': {'AC': True}}

In [ ]:
ids = []
json_data = []

for indice, fila in data.iterrows():
  only_optional = False
  ids.append(fila[2])
  element_json = {
      'account_number': fila['number'],
      'service': fila['service_name'],
      'services': {}
  }

  if fila['AC'] == 'X':
    element_json['services']['AC'] = True
    only_optional = True

  if fila['AS'] == 'X':
    element_json['services']['AS'] = True
    only_optional = True

  if fila['CT'] == 'X':
    element_json['services']['CT'] = True
    only_optional = True

  if fila['EN'] == 'X':
    element_json['services']['EN'] = True
    only_optional = True

  if fila['GA'] == 'X':
    element_json['services']['GA'] = True
    only_optional = True

  if fila['IN'] == 'X':
    element_json['services']['IN'] = True
    only_optional = True

  if fila['TE'] == 'X':
    element_json['services']['TE'] = True
    only_optional = True

  if fila['TF'] == 'X':
    element_json['services']['TF'] = True
    only_optional = True

  if fila['TM'] == 'X':
    element_json['services']['TM'] = True
    only_optional = True


  if fila['TV'] == 'X':
    element_json['services']['TV'] = True
    only_optional = True

  if fila['AM-ACUEDUCTO'] == 'x':
    element_json['services']['AM-ACUEDUCTO'] = True

  if only_optional:
    json_data.append(element_json)


structure = {
        'id': ids,
        'extras':json_data
}

In [ ]:
len(IDS)

533

In [ ]:
df = pd.DataFrame(structure)
df.to_excel("structure_service.xlsx")

ValueError: All arrays must be of the same length

In [ ]:
dataAccount  = data[['id','number','account_vardi']]

#for indice, row in dataAccount.iterrows():
  #x = row['number']
  #y = str(row['account_vardi'])
  #dataAccount['validación'] = x == y


#for i in range(len(dataAccount['id'])):
  #dataAccount['verification'] = [dataAccount['number'][i]==str(dataAccount['account_vardi'][i])]


print(len(dataAccount['account_vardi']))
print(len(dataAccount['number']))


dataAccount = dataAccount.assign(comparative = dataAccount['number'] == dataAccount['account_vardi'].astype(str))


dataAccount.to_excel("data.xlsx")



print(dataAccount)
# Supongamos que tienes un DataFrame df
df = pd.DataFrame({
    'columna_a': [1, 2, 3, 4, 5],
    'columna_b': [5, 4, 3, 2, 1]
})

# Comparar dos columnas y agregar los resultados como una nueva columna
df = df.assign(comparacion=df['columna_a'] == df['columna_b'].astype(str))

print(df)

#print(len(dataAccount['id']))

#dataAccount['number'][1]

#str(dataAccount['account_vardi'][1])



#if(str(dataAccount.iloc[2]['account_vardi']) == str(dataAccount.iloc[2]['number'])):
  #print('Si')
#else:
  #print('False')

556
556
                          id         number account_vardi  comparative
0    cri7bayo8tysdtg670lf6ig  0700010078306  700010078306        False
1    cs87a2u9thshmtgcoptouce    24032241891   24032241891         True
2    cri7bayo8twsdtgizohwvn6  0700010079441  700010079441        False
3    cs6t8lnn3yo0htgy2o2nxbf     8220188771    8220188771         True
4     cs87a449tk0hmtgndi1ds9     8215346413    8215346413         True
..                       ...            ...           ...          ...
551    cs9vtd1948xwjtg41weu4    60574617821   60574617821         True
552  cs9vtck948dqutg292ze3tq       76767920      76767920         True
553  cs9vtco948jqutgunm0up7l     8224065459    8224065459         True
554  cs9vtcq948lwjtg97s0ic56     8224072001    8224072001         True
555  cs9vtd3948zwjtg1v5ljkb6        EN95740       EN95740         True

[556 rows x 4 columns]
   columna_a  columna_b  comparacion
0          1          5        False
1          2          4        False
2          3          3        False
3          4          2        False
4          5          1        False